@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

*{
    font-family: 'Inconsolata', monospace;
    margin: 0em;
    padding: 0%;
}
#main-img{
    margin-left: 45%;
    margin-bottom: 1em;
}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #05668d;
    list-style: none;
    padding: 1em;
}

.list .list-iteam a{
    text-decoration: none;
    font-size: 1.9em;
    color:#ffffff;
    padding: 0.6em;
    transition: all 0.2s;
}
.list .list-iteam a:hover{
    background-color: #2ec4b6;
    border-radius: 0.3em;
}

.intro{
    text-align: center;
    margin-top: 2em;
    font-size: 3em;
}

.show-search{
    margin: 3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.show-search .search{
    font-size: 3em;
    padding: 0em 1em 0em 0.1em;
    margin-right: 0.2em;
    border: 3px solid #2ec4b6;
    transition: all 0.2s;
    border-radius: 0.3em;
    cursor: pointer;
}


.search-btn{
    padding: 1em 2em 0em 2em;
    background-color: white;
    border-color: #2ec4b6;
    border-radius: 0.3em;
    cursor: pointer;
}
.card{
    border: 3px solid black;
    width: fit-content;
    margin-left: 3em;
    font-size: 3em;
    padding: 1.5em 1em 0.5em 1em;
    text-align: center;
    border-radius: 0.3em;
}

.show-img{
    border: 3px solid black;
    margin-left: 12%;
    margin-top: 1em;
}

@media (max-width:375px){
    .show-search .search{
        font-size: 1em;
        padding: 0em 1em 0em 0.1em;
        margin-right: 0.2em;
        border: 3px solid #2ec4b6;
        transition: all 0.2s;
        border-radius: 0.3em;
        cursor: pointer;
    }
    .show-img{
        border: 3px solid black;
        margin-left: 20em;
        margin-top: 1em;
    }
}